<!DOCTYPE html>
<html>
<head>
	<title>FAQs - My4Legs</title>
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>
	<div class="container">
		<h1>Frequently Asked Questions</h1>
		<div class="accordion">
			<div class="accordion-item">
				<div class="accordion-item-header">
					What is My4Legs?
				</div>
				<div class="accordion-item-body">
					We’re a subscription pet wellness company WorldWide. We’re committed to delivering trusted, affordable products with maximum service and convenience. With personality, technology, and human-friendly service, we’ve eliminated the barriers preventing you from taking the best care of your pets!
				</div>
			</div>

			<div class="accordion-item">
				<div class="accordion-item-header">
					What makes you so great?
				</div>
				<div class="accordion-item-body">
					We deliver effective, EPA-approved, vet-quality pet care products to your door with personality, technology, and human-friendly service. Along with peace of mind and significant cost savings, it’s human proof. Forget about remembering every month!
				</div>
			</div>

			<div class="accordion-item">
				<div class="accordion-item-header">
					What does “human proof” mean?
				</div>
				<div class="accordion-item-body">
					“Human proof” means eliminating the barriers preventing you from taking the best care of your pets!
					<ul>
						<li>Safety: We put your pet’s name and photo on their individual treatment, reducing the chance of a mix-up between pets.</li>
						<li>Affordable: Less than the top Big Brands, and always shipped free, our products keep your pets protected, healthy, and happy.</li>
						<li>Convenient: No trip to the store, and no calendar to track. You know it’s time to care for your pet when the package arrives at your door. Forget about remembering!</li>
					</ul>
				</div>
			</div>

			<div class="accordion-item">
				<div class="accordion-item-header">
					How does it work?
				</div>
				<div class="accordion-item-body">
					You sign up. Tell us a few details about your pets (name, age, weight, and optional photo). We’ll match each pet with perfect products for every life stage. We’re excited to meet them!
					<br>
					We deliver. You'll receive safe and effective, vet-quality pet wellness products to your door each month — custom packaged for each pet.
					<br>
					You relax. Your pets are happy and healthy — and you never left the house. Forget about remembering!
				</div>
			</div>

			<div class="accordion-item">
				<div class="accordion-item-header">
					Do I have to sign a contract?
				</div>
				<div class="accordion-item-body">
					No way! You can pause or cancel anytime — but the best way to keep your furry friends healthy and happy is consistent and proactive pet care.
				</div>
			</div>

			<div class="accordion-item">
				<div class="accordion-item-header">
					Where is my email confirmation?
				</div>
				<div class="accordion-item-body">
					Our email notifications are automatically sent to the address you
